<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('us.jpg') %>);">  <div class="container">
    <h1>El Life brings <strong>You</strong> all <strong>You need</strong>!</h1>
    <p>Make a daily personal check-in.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
